<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vitily.com.mapper.comm.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="vitily.com.tb_entity.comm.TbDictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="deltag" property="deltag" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="DECIMAL" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ListBaseResultMap" type="vitily.com.tv_entity.comm.TvDictionary" extends="BaseResultMap" >
  	<result column="typeName" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="TvResultMap" type="vitily.com.tv_entity.comm.TvDictionary" extends="ListBaseResultMap" >
  </resultMap>
  <sql id="Base_Column_List" >
    e.`id`, e.`create_date`, e.`update_date`, e.`deltag`, e.`state`, e.`sort`, 
    e.`type_id`, e.`key`, e.`value`, e.`description`
  </sql>
  <sql id="query_condition">
    <if test="null != entity">
  	  <!-- tb_entity:等于查询 -->
      <if test="entity.typeId != null" >
        and e.type_id = #{entity.typeId}
      </if>
      <if test="entity.key != null" >
        and e.key = #{entity.key}
      </if>
      <include refid="vitily.com.mapper.comm.CommonMapper.entity_query_condition" />
    </if>
      <!-- 下面是ts -->
      <if test="selKey != null and selKey != ''">
      	and e.key like concat('%',#{selKey,jdbcType=VARCHAR},'%')
      </if>
      <if test="selValue != null and selValue != ''">
      	and e.value like concat('%',#{selValue,jdbcType=VARCHAR},'%')
      </if>
      <if test="typeIdStr != null and typeIdStr != ''">
      	and e.type_id in(${typeIdStr})
      </if>
    <include refid="vitily.com.mapper.comm.CommonMapper.ts_query_condition" />
      
  </sql>
  <sql id="query_exist_condition">
  	(1=0
    <if test="null != entity">
      <if test="entity.key != null and entity.key != null" >
        or e.key = #{entity.key,jdbcType=VARCHAR}
      </if>
    </if>
      )
    <if test="null !=entity and null != entity.id">
      and e.id != #{entity.id,jdbcType=INTEGER}
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_dictionary e
    where e.`id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_comm_dictionary
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="vitily.com.tb_entity.comm.TbDictionary" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_comm_dictionary (`create_date`, `update_date`, `deltag`, 
      `state`, `sort`, `type_id`, 
      `key`, `value`, `description`
      )
    values (#{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{deltag,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{sort,jdbcType=DECIMAL}, #{typeId,jdbcType=INTEGER}, 
      #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="vitily.com.tb_entity.comm.TbDictionary" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_comm_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        `create_date`,
      </if>
      <if test="updateDate != null" >
        `update_date`,
      </if>
      <if test="deltag != null" >
        `deltag`,
      </if>
      <if test="state != null" >
        `state`,
      </if>
      <if test="sort != null" >
        `sort`,
      </if>
      <if test="typeId != null" >
        `type_id`,
      </if>
      <if test="key != null" >
        `key`,
      </if>
      <if test="value != null" >
        `value`,
      </if>
      <if test="description != null" >
        `description`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deltag != null" >
        #{deltag,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vitily.com.tb_entity.comm.TbDictionary" >
    update tb_comm_dictionary
    <set >
      <if test="createDate != null" >
        `create_date` = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        `update_date` = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deltag != null" >
        `deltag` = #{deltag,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        `sort` = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null" >
        `type_id` = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="key != null" >
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        `description` = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="vitily.com.tb_entity.comm.TbDictionary" >
    update tb_comm_dictionary
    set `create_date` = #{createDate,jdbcType=TIMESTAMP},
      `update_date` = #{updateDate,jdbcType=TIMESTAMP},
      `deltag` = #{deltag,jdbcType=INTEGER},
      `state` = #{state,jdbcType=INTEGER},
      `sort` = #{sort,jdbcType=DECIMAL},
      `type_id` = #{typeId,jdbcType=INTEGER},
      `key` = #{key,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      `description` = #{description,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByDicKey" parameterType="vitily.com.tb_entity.comm.TbDictionary" >
    update tb_comm_dictionary
    <set >
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deltag != null" >
        deltag = #{deltag,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=DECIMAL},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where 1=0
    <if test="key != null" >
       or key = #{key,jdbcType=VARCHAR}
    </if>
  </update>
  <select id="selectByPrimaryKeyForTv" resultMap="TvResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,t.name as typeName
    from tb_comm_dictionary e
    left join tb_comm_type t on t.id = e.type_id
    where e.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getMaxBean" parameterType="vitily.com.ts_entity.comm.TsDictionary" resultMap="BaseResultMap">
    select e.* from tb_comm_dictionary e
    where 1=1
    <include refid="query_condition" />
    order by e.sort desc limit 1
  </select>

  <select id="getCountPaging" parameterType="vitily.com.ts_entity.comm.TsDictionary" resultType="java.lang.Integer">
    select count(1) as recordCount from tb_comm_dictionary e where 1=1
    <include refid="query_condition" />
  </select>
  <select id="getListByBean" parameterType="vitily.com.ts_entity.comm.TsDictionary" resultMap="ListBaseResultMap">
  	select e.*,
  	t.name as typeName
  	from tb_comm_dictionary e
  	left join tb_comm_type t on t.id = e.type_id
  	 where 1=1
    <include refid="query_condition" />
    <if test="null != pageInfo">
      <if test="pageInfo.fieldOrder !=null and pageInfo.fieldOrder != ''">
        order by ${pageInfo.fieldOrder}
      </if>
      limit #{pageInfo.step},#{pageInfo.pageSize}
    </if>
  </select>
  <select id="isExists" parameterType="vitily.com.ts_entity.comm.TsDictionary" resultType="java.lang.Boolean">
    select case when
	exists(select 0 from tb_comm_dictionary e where
	    <include refid="query_exist_condition" />
	) then 1
	else 0
	end as exists_record from dual
  </select>
</mapper>